#image-dropzone {
  min-height: ~"calc(100vh - @{navbar-height})";
  height: auto;

  padding: 0 15px;
}

.grid {

}

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: ~"calc(25% - 20px)"; }

@media(max-width: @screen-md-max) {
  .grid-sizer,
  .grid-item { width: ~"calc(33.33333% - 20px)"; }
}

/* ---- .grid-item ---- */

.grid-item {
  background: #4996dd;
  overflow: hidden;
  margin-bottom: 15px;

  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
